@import "../vars.css";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 10px; */
  z-index: 2;
  margin: 0 7%;
  background-color: transparent;
  height: 5em;
  transition: all 0.3s ease; /* Smooth transition */
  top: 0;
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0; /* Remove margin when fixed */
  padding: 0px 7%; /* Adjust padding when fixed */
  z-index: 1000; /* Ensure it stays on top */
  border-bottom: 5px solid var(--color-text);
}

.navbar.active {
  background-color: var(--color-primary);
}

.placeholder {
  height: 10em; /* Double height as the navbar */
  width: 100%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
  font-family: var(--font-vt323);
  z-index: 1000; /* Ensure it stays on top */
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.menuItems {
  display: flex;
  gap: 39px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
  font-family: var(--font-vt323);
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
  background-color: transparent;
}

.icons img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    position: relative;
    right: 0;
    margin-right: 0;
    flex-direction: row;
    align-items: center;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    margin-left: auto;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: max-content;
  }

  .menuOpen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
  }

  .icons {
    display: flex;
    position: relative;
    top: 0px;
    margin-left: auto;
  }
}
