:root {
  /* Colours */
  --color-text: #2b165f;
  --color-signal-yellow: #ffdd00;
  --color-primary: rgba(255, 183, 0, 0.52);
  --color-secondary: rgba(255, 149, 0, 0.42);
  --color-dark: #0b2447;
  --color-bg: #000000;

  /* Fonts */
  --font-vt323: "VT323";
  --font-ubuntu-mono: "Ubuntu Mono";
  --font-orbitron: "Orbitron";
}
